* {
  box-sizing: border-box;
  line-height: 2;
}
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
button {
  font-family: inherit;
}
ol {
  list-style: none;
}
table {
  width: 500px;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
}
img {
  max-width: 100%;
  width: 500px;
}
